@import url(./reset.css);
@import url(./10000hours.css);

img {
  display: block;
}

.sr-out {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  text-indent: -9999px;
  overflow: hidden;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #5B2386;
  font-family: 'GmarketSansMedium';
}

button {
  display: flex;
  align-items: center;
  font-family: 'GmarketSansBold';
  font-size: 20px;
  color: #5B2386;
  background-color: #FCEE21;
  border: none;
  border-radius: 30px;
  padding: 10px 40px;
  cursor: pointer;
  word-break: keep-all;
}


@keyframes rotate {
  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#contents {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ico-clock {
  position: relative;
  width: 130px;
  height: 130px;
}

.ico-title {
  position: absolute;
  width: 282px;
}

.ico-title img {
  width: 100%;
  height: auto;
}

.advice-tit {
  font-family: 'OTEnjoystoriesBA';
  font-size: 22px;
  line-height: 24px;
  color: #F5DF4D;
  text-align: center;
  margin-top: 30px;
}

.about-text {
  position: relative;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  margin-top: 60px;
}

.about-text strong {
  font-family: 'GmarketSansBold';
  font-size: 16px;
}

.about-text::before {
  content: '';
  display: block;
  background: url(../img/quotes.png) no-repeat;
  background-size: 370px;
  background-position: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 480px;
  height: 30px;
}

.input-section {
  margin: 62px auto 62px;
  font-size: 14px;
  line-height: 30px;
  color: #fff;
}

.dis-block:last-of-type {
  margin-top: 30px;
}

.input-section input {
  font-size: 14px;
  box-sizing: border-box;
  width: 156px;
  height: 37px;
  background: #fff;
  border: none;
  border-radius: 7px;
  padding: 0 10px;
  margin: 0 4px;
}

.input-section input::-webkit-input-placeholder {
  font-family: 'GmarketSansMedium';
  color: #BABCBE;
  text-align: center;
}

.start {
  display: flex;
  justify-content: center;
}

.start .btn-wrap {
  position: relative;
}

.start .ico-click {
  position: absolute;
  right: -50px;
  bottom: 0px;
}

.start .ico-click img {
  width: 40px;
}

.start-btn {
  font-size: 14px;
  font-family: 'GmarketSansbold';
  width: 241px;
  padding: 19px 36.5px 17px;
  border: none;
  border-radius: 13px;
  color: #5B2386;
  background: #FCEE21;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.result-loading {
  display: none;
  margin-top: 100px;
  justify-content: center;
}

.result-loading .img-wrap {
  width: 100px;
  height: 100px;
}

.result-loading .img-wrap img {
  width: 100%;
  height: auto;
  animation: rotate 1.1s infinite linear;
}

.result {
  margin-top: 50px;
  display: none;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  color: rgb(255, 238, 0);
}

.result .result-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result strong {
  font-family: 'GmarketSansbold';
  font-size: 44px;
  line-height: 1.5;
  vertical-align: middle;
  color: aliceblue;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.buttons .btn-go {
  padding: 13.5px 17.5px 12.5px;
  background-color: #FCEE21;
  ;
}

.buttons .btn-share {
  padding: 13.5px 19px 12.5px;
  margin-left: 13px;
  background-color: #fff;
}

#modal {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

#modal .modal-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 600px;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
}

#modal .cheer {
  font-family: 'OTEnjoystoriesBA';
  color: #5B2386;
  text-align: center;
}

#modal h1 {
  font-size: 30px;
}

#modal h3 {
  font-size: 20px;
}

#modal .btn-close {
  box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 15%);
  margin-bottom: 30px;
}

#modal .btn p {
  color: #747474;
  font-size: 13px;
  text-align: center;
}

#copyright {
  padding: 83px 0;
}

#copyright .ico-logo {
  width: 91px;
  height: 18px;
  margin: 0 auto;
  margin-bottom: 17px;
}

#copyright span {
  font-family: 'Noto Sans KR';
  display: block;
  width: 317px;
  font-size: 9px;
  line-height: 13px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  margin: 0 auto;
}


@media screen and (min-width:786px) {

  .ico-clock {
    width: 265px;
    height: 265px;
  }

  .ico-title {
    width: 564px;
  }

  .advice-tit {
    font-size: 36px;
    line-height: 40px;
  }


  .about-text {
    font-size: 18px;
    line-height: 2;
    margin-top: 61px;
  }

  .about-text strong {
    font-size: 24px;
  }

  .about-text::before {
    background-size: 493px;
    width: 493px;
    height: 50px;
  }

  .input-section {
    font-size: 24px;
  }

  .input-section .input-sec {
    margin-top: 27px;
  }

  .input-section .input-sec .dis-block {
    display: inline-block;
  }

  .input-section input {
    width: 228px;
    height: 57px;
    margin: 0 17px;
    font-size: 24px;
    vertical-align: 2px;
  }

  .start-btn {
    font-size: 24px;
    line-height: 24px;
    width: 565px;
    height: 66px;
    padding: 21px 49px;
    border-radius: 56px;
  }

  .result {
    font-size: 24px;
    margin-top: 100px;
  }

  .result strong {
    font-family: 'GmarketSansbold';
    font-size: 72px;
    line-height: 2;
  }

  .buttons {
    margin-top: 100px;
  }

  .buttons button {
    font-size: 24px;
  }

  .buttons .go-btn {
    padding: 21px 49px;
  }

  .buttons .share-btn {
    padding: 21px 49px;
    margin-left: 18px;
  }

  .ico-logo {
    width: 125px;
    height: 25px;
    margin-bottom: 20px;
  }

  .start .ico-click {
    position: absolute;
    right: -75px;
    bottom: -15px;
  }

  .start .ico-click img {
    width: 64px;
  }

  .copyright span {
    font-size: 14px;
    line-height: 18px;
  }

  #modal .modal-wrap {
    width: 600px;
    height: 600px;
  }

  #modal h1 {
    font-size: 80px;
  }

  #modal h3 {
    font-size: 30px;
  }

}